.tour__body {
    margin-top: 1rem;
}

.tour__frame {
    width: 100%;
    height: 280px;
    border: none;
    border-radius: 0.5rem;
    background: #000;
}

.tour__controls lightning-button-icon + lightning-button-icon {
    margin-left: 0.25rem;
}
